<!DOCTYPE html>
<html class="h-100 w-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://170.82.180.21:5001/css/bootstrap.min.css">
    <script src="http://170.82.180.21:5001/js/node_modules/jquery/dist/jquery.js"></script>
    <script src="http://170.82.180.21:5001/js/bootstrap.js"></script>
    <script src="http://170.82.180.21:5001/package/dist/jquery.mask.js"></script>
</head>
<body style="background: rgb(10, 50, 80);" class="h-100">

<div class="container bg-light h-100"  >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="navbar-brand" src="https://www.seatelecom.com.br/themes/seatelecom/_imagem/logo-sea-telecom.png" alt="SEA
    Telecom" width="70px">

        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-3">
                    <a class="nav-link" href="#">Lista
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="">Adicionar</a>
                </li>

                <li class="nav-item ml-3">
                    <a class="nav-link" href="/account/logout">Sair</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

