<!DOCTYPE html>
<html class="h-100 w-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://170.82.180.21:5001/css/bootstrap.min.css">
    <script src="http://170.82.180.21:5001/js/node_modules/jquery/dist/jquery.js"></script>
    <script src="http://170.82.180.21:5001/js/bootstrap.js"></script>
    <script src="http://170.82.180.21:5001/package/dist/jquery.mask.js"></script>
</head>
<body style="background: rgb(10, 50, 80);" >

<div class="container bg-light h-100 pb-4 col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xl-8"   >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="navbar-brand" src="http://170.82.180.21:5001/img/LOGO.png" alt="SEA
    Telecom" width="120px">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'index'%}">Hostpots</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'new'%}">Adicionar</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="/account/logout">Sair</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="pt-5" style="text-align: center;">SEA Solutions ©2020 Keven Carrilho</div>
</div>
<script type="text/javascript">
  $('#id_endereco_mac').mask('00:00:00:00:00:00');

</script>
</body>
</html>

