{% extends "session/base.html" %}
{% block title %}Cadastro de novo usuário{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<form align="center" class="p-4" method="post" data-toggle="validator"  >
    <img src="http://170.82.180.21:5001/img/LOGO.png" style="width:200px">
    {% csrf_token %}
    <div class="form-group" align="left" >
        {{form|crispy}}
        <button type="submit" class="btn btn-primary" style="width: 100%;">Acessar</button>
    </div>
 </form>
{% endblock %}